<html>
	<head>

		<meta http-equiv="Content-Type" Content="text/html; charset=utf-8"/>
		<meta name="viewport" content="height=1080,width=1920,user-scalable=no"/>

		<link rel="stylesheet" href="../static/css/mainpage.css">
		<link rel="stylesheet" href="../static/css/plyr.css">
		<script type="text/javascript" src="https://svcapi.gigagenie.ai/sdk/v1.0/js/gigagenie.js"></script>

		<script src="https://cdn.plyr.io/3.5.6/plyr.polyfilled.js"></script>

		<title>Genie School KT Project</title>

		<script type="text/javascript">
		var apistatus=0;
		var options={};
		var ws;
		var status='NI';
		var appid;
		var containerid;
		var wsstate=0;
		var initstate=0;
		var authcode;

		function init() {

			//sendTTS("안녕하세요 ");


			options = {};
			options.apikey = "RTUwMDQwMTl8R0JPWERFVk18MTU3ODQ0Mzk3OTM0MA==";
			options.keytype="GBOXDEVM"; // 개발자모드를 설정하고 사용하세요.
			gigagenie.init(options, function(result_cd, result_msg, extra) {
				if (result_cd === 200) {
					console.log("initialize success, appid:" + extra.appid);

					//안내 TTS
					sendTTS("오늘은 멋있는 경찰이 되어 볼까요?");
					//setTimeout(function() {
					//location.href = "/result";
					//}, 5000);
					//Delay 후 send data.
					//location.href = '/greeting';

				}
			});
		};

		function sendTTS(tts) {
			options = {};
			options.ttstext = tts;
			gigagenie.voice.sendTTS(options, function(result_cd, result_msg, extra) {
					console.log("gigagenie.voice.sendTTS - result_cd:" + result_cd);
					console.log("gigagenie.voice.sendTTS - result_msg:" + result_msg);
					console.log("gigagenie.voice.sendTTS - extra:" + JSON.stringify(extra));					});
		};

		gigagenie.voice.onRequestClose = function() {
			console.log("close event received");
			alert("종료요청받음");
			requestclose();
		};
		function requestclose() {
			console.log("request close");
			options={};
			gigagenie.voice.svcFinished(options, function(result_cd, result_msg, extra) {
					console.log("svcFinished");
					if(result_cd === 200) {
						console.log("service finish success");
						}

					});
		};

		</script>
</head>
<body onload="init();">

    <!--<div id="player" data-plyr-provider="youtube" data-plyr-embed-id="4zrHnJmNebw"></div>-->
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<center>	
<div id="player"></div>
</center>
		<script>
		// 2. This code loads the IFrame Player API code asynchronously.
		var tag = document.createElement('script');

		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		// 3. This function creates an <iframe> (and YouTube player)
		//    after the API code downloads.
		var player;
		function onYouTubeIframeAPIReady() {
		    player = new YT.Player('player', {
		         height: '1200',
		         width: '1600',
		         videoId: '9ojZ5jPh1bg',
		         events: {
		           'onReady': onPlayerReady,
		           'onStateChange': onPlayerStateChange
		         }
		     });
			player.setOption('cc', 'reload', null);
		}

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
		          event.target.playVideo();
				        }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
	function onPlayerStateChange(event) {
	       if (event.data == YT.PlayerState.PLAYING && !done) {
	          setTimeout(function() {
					  location.href = '/career_stream';
					  }, 30000);
	           done = true;
		        }
	     }
    </script>
</body>
</html>
