<html>
	<head>

		<meta http-equiv="Content-Type" Content="text/html; charset=utf-8"/>
		<meta name="viewport" content="height=1080,width=1920,user-scalable=no"/>

		<link rel="stylesheet" href="../static/css/mainpage.css">

		<script type="text/javascript" src="https://svcapi.gigagenie.ai/sdk/v1.0/js/gigagenie.js"></script>

		<title>Genie School KT Project</title>

		<script type="text/javascript">
		var apistatus=0;
		var options={};
		var ws;
		var status='NI';
		var appid;
		var containerid;
		var wsstate=0;
		var initstate=0;
		var authcode;

		function init() {

			//sendTTS("안녕하세요 ");


			options = {};
			options.apikey = "RTUwMDQwMTl8R0JPWERFVk18MTU3ODQ0Mzk3OTM0MA==";
			options.keytype="GBOXDEVM"; // 개발자모드를 설정하고 사용하세요.
			gigagenie.init(options, function(result_cd, result_msg, extra) {
				if (result_cd === 200) {
					console.log("initialize success, appid:" + extra.appid);

					//안내 TTS
					sendTTS("오늘은 어떤 공부를 할까요~?");
					//Delay 넣어보기. 1000ms 정도.
					setTimeout(function() {

						location.href = '/select';
					},3000);
				}
			});
		};

		function sendTTS(tts) {
			options = {};
			options.ttstext = tts;
			gigagenie.voice.sendTTS(options, function(result_cd, result_msg, extra) {
					console.log("gigagenie.voice.sendTTS - result_cd:" + result_cd);
					console.log("gigagenie.voice.sendTTS - result_msg:" + result_msg);
					console.log("gigagenie.voice.sendTTS - extra:" + JSON.stringify(extra));					});
		};

		gigagenie.voice.onRequestClose = function() {
			console.log("close event received");
			alert("종료요청받음");
			requestclose();
		};
		function requestclose() {
			console.log("request close");
			options={};
			gigagenie.voice.svcFinished(options, function(result_cd, result_msg, extra) {
					console.log("svcFinished");
					if(result_cd === 200) {
						console.log("service finish success");
				}
				;
			});
		};
	</script>
	</head>
	<body onload="init();">

		<br><br>

	<!--
		<img src="../static/img/koritori_start.jpg" name="koritori">
	-->

		</center>
	</body>
</html>

