<html>
	<head>

		<meta http-equiv="Content-Type" Content="text/html; charset=utf-8"/>
		<meta name="viewport" content="height=1080,width=1920,user-scalable=no"/>

		<link rel="stylesheet" href="../static/css/mainpage.css">

		<script type="text/javascript" src="https://svcapi.gigagenie.ai/sdk/v1.0/js/gigagenie.js"></script>

		<title>Genie School KT Project</title>

		<script type="text/javascript">
		var apistatus=0;
		var options={};
		var ws;
		var status='NI';
		var appid;
		var containerid;
		var wsstate=0;
		var initstate=0;
		var authcode;

		function init() {

			//sendTTS("안녕하세요 ");


			options = {};
			options.apikey = "RTUwMDQwMTl8R0JPWERFVk18MTU3ODQ0Mzk3OTM0MA==";
			options.keytype="GBOXDEVM"; // 개발자모드를 설정하고 사용하세요.
			gigagenie.init(options, function(result_cd, result_msg, extra) {
				if (result_cd === 200) {
					console.log("initialize success, appid:" + extra.appid);

					//안내 TTS
					sendTTS("오늘은 어떤 공부를 할까요~?");
					//Delay 넣어보기. 1000ms 정도.
					setTimeout(function() {

						location.href = '/select';
					},3000);
				}
			});
		};

		function sendTTS(tts) {
			options = {};
			options.ttstext = tts;
			gigagenie.voice.sendTTS(options, function(result_cd, result_msg, extra) {
					console.log("gigagenie.voice.sendTTS - result_cd:" + result_cd);
					console.log("gigagenie.voice.sendTTS - result_msg:" + result_msg);
					console.log("gigagenie.voice.sendTTS - extra:" + JSON.stringify(extra));					});
		};

		gigagenie.voice.onRequestClose = function() {
			console.log("close event received");
			alert("종료요청받음");
			requestclose();
		};
		function requestclose() {
			console.log("request close");
			options={};
			gigagenie.voice.svcFinished(options, function(result_cd, result_msg, extra) {
					console.log("svcFinished");
					if(result_cd === 200) {
						console.log("service finish success");
				}
				;
			});
		};
	</script>
	</head>
	<body onload="init();">
 	<header>
        <center>
                <div class = "logo_img"><a href = "https://211.254.213.123"><img src = "../static/img/logo.jpg" width = "150" height = "90"></a></div>
	 </center>
        </header>

        <section>
	<div class = "section_col">
	<center>
		<img src="../static/img/main.png" width = "300" height = "250">
	</center>
	</div>


	</section>

	 <footer>
                <div class = "aboutKT">
                <center>
                <hr>

                       <a href= "https://corp.kt.com/" target = "_blank"> 회사소개</a>
                        <a href= "https://corp.kt.com/eng/" target = "_blank"> About KT</a>
                        <a href= "https://corp.kt.com/eng/html/global/main.html" target = "_blank"> Global Biz</a>
                        <a href= "https://corp.kt.com/html/etc/agreement_01.html" target = "_blank"> 이용약관</a>
                        <a href= "https://corp.kt.com/html/etc/legal.html" target = "_blank"> 법적고지</a>
                        <a href= "https://inside.kt.com/html/privacy/privacy12.html" target = "_blank"> 개인정보처리방침</a>
                        <a href= "https://corp.kt.com/html/etc/agreement_05.html" target = "_blank"> 청소년 보호정책</a>
                        <a href= "https://corp.kt.com/html/etc/contact.html" target = "_blank"> 문의/안내처</a>
                        <a href= "https://inside.kt.com/html/accessibility/webHelp_01.html" target = "_blank"> 웹 접근성 도움말</a>
                        <br>
                        <a href= "https://my.kt.com/cancelpay/CancelPayInfo.do" target = "_blank"> 미환급금 조회/환불</a>
                        <a href= "http://wiseuser.go.kr/application.do?boardtypecode=5340" target = "_blank"> 청소년 유해차단 안내</a>
                        <a href= "https://inside.kt.com/html/privacy/privacy01.html" target = "_blank"> 이용자피해예방 가이드</a>
                        <a href= "https://msafer.or.kr//index.do" target = "_blank"> 명의도용방지서비스</a>
                        <a href= "http://www.cleanict.or.kr/" target = "_blank"> 불공정행위 신고센터</a>
                        <a href= "https://www.notm.or.kr/index" target = "_blank"> 개인정보보호 자율감시센터</a>
                        <a href= "https://corp.kt.com/html/sustain/transparent/ethics_03.html" target = "_blank"> 윤리위반신고</a>
                        <br>

                <hr>
                </center>
                </div>

		 <div class = "copyright">
                <center>

                        (주)케이티 대표이사 황창규 경기도 성남시 분당구 불정로 90 (정자동) 사업자등록번호 : 102-81-42945 통신판매업신고 : 2002-경기성남-0048 사업자정보확인 <br>
                        고객센터 : [모바일] 휴대폰+114(무료), 1588-0010(유료) [인터넷/TV/전화] 유선전화(국번없이) 100, 휴대폰(지역번호)+100<br><br>
                        Copyright© 2019 kt corp. All rights reserved..

                </center>
                </footer>
        </body>
</html>